/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 25, 2015, 11:51:10 AM
    Author     : zoncn
*/
.main{
    min-height: 520px;
}

.bg-row{
    background-color: #585857;
    height: 60px;
}

.sv-img{
    height: 50px;
    margin: 5px 5px 5px 93px;
}

.nav-right{
    float: right;
    list-style: none;
}

.nav-right li{
    color: #f0b003;
    font-family: sans-serif;
    font-size: 18px;
    float: left;
    text-decoration: none;
    padding: 18px 25px 17px 25px;
    background-color: #878786;
}

.nav-right li:last-child{
    color: #f0b003;
    font-family: sans-serif;
    font-size: 18px;
    float: left;
    text-decoration: none;
    padding: 18px 25px 17px 25px;
    background-color: #575756;
}

.nav-right li:last-child:hover{
    float: left;
    text-decoration: none;
    padding: 18px 25px 17px 25px;
    background-color: #878786;
    border-left: 1px solid #575756;
    cursor: pointer;
}

.import{
    background: url('../resources/images/1.png') center no-repeat;
    background-size: cover;
    width: 284px;
    height : 115px;
}

.import:hover{
    -webkit-transform:scale(1.02);
    transform:scale(1.02);
    /*    -webkit-box-shadow: 0px 0px 15px 10px rgba(255, 255, 255, .75);
        box-shadow: 1px 2px 10px 1px #067486;*/
}

.export{
    background: url('../resources/images/1-04.png') center no-repeat;
    background-size: cover;
    width: 284px;
    height : 115px;
}

.export:hover{
    -webkit-transform:scale(1.02);
    transform:scale(1.02);
    /*    -webkit-box-shadow: 0px 0px 15px 10px rgba(255, 255, 255, .75);
        box-shadow: 1px 2px 10px 1px #067486;*/
}

.liability{
    background: url('../resources/images/1-05.png') center no-repeat;
    background-size: cover;
    width: 284px;
    height : 115px;
}

.liability:hover{
    -webkit-transform:scale(1.02);
    transform:scale(1.02);
    /*    -webkit-box-shadow: 0px 0px 15px 10px rgba(255, 255, 255, .75);
        box-shadow: 1px 2px 10px 1px #067486;*/
}

.hours{
    background: url('../resources/images/1-06.png') center no-repeat;
    background-size: cover;
    width: 284px;
    height : 115px;
}

.hours:hover{
    -webkit-transform:scale(1.02);
    transform:scale(1.02);
    /*    -webkit-box-shadow: 0px 0px 15px 10px rgba(255, 255, 255, .75);
        box-shadow: 1px 2px 10px 1px #067486;*/
}

.change{
    background: url('../resources/images/1-09.png') center no-repeat;
    background-size: cover;
    width: 284px;
    height : 115px;
}

.change:hover{
    -webkit-transform:scale(1.02);
    transform:scale(1.02);
    /*    -webkit-box-shadow: 0px 0px 15px 10px rgba(255, 255, 255, .75);
        box-shadow: 1px 2px 10px 1px #067486;*/
}

.report{
    background: url('../resources/images/1-10.png') center no-repeat;
    background-size: cover;
    width: 284px;
    height : 115px;
}

.report:hover{
    -webkit-transform:scale(1.02);
    transform:scale(1.02);
    /*    -webkit-box-shadow: 0px 0px 15px 10px rgba(255, 255, 255, .75);
        box-shadow: 1px 2px 10px 1px #067486;*/
}

.setup{
    background: url('../resources/images/1-12.png') center no-repeat;
    background-size: cover;
    width: 284px;
    height : 115px;
}

.setup:hover{
    -webkit-transform:scale(1.02);
    transform:scale(1.02);
    /*    -webkit-box-shadow: 0px 0px 15px 10px rgba(255, 255, 255, .75);
        box-shadow: 1px 2px 10px 1px #067486;*/
}

.sp{
    background: url('../resources/images/1-13.png') center no-repeat;
    background-size: cover;
    width: 284px;
    height : 115px;
}

.sp:hover{
    -webkit-transform:scale(1.02);
    transform:scale(1.02);
    /*    -webkit-box-shadow: 0px 0px 15px 10px rgba(255, 255, 255, .75);
        box-shadow: 1px 2px 10px 1px #067486;*/
}

//menu

li.headlink ul { 
    display: none;
    transition: height 2s;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
    -webkit-font-smoothing:antialiased;
}
li.headlink:hover ul {
    background-color: #F2B42A;
    display: block;
    z-index: 50;
    position: fixed;
    width: 284px;
    top: 302px;
    left: 396px;
}
#cssdropdown, #cssdropdown ul { list-style: none; }
#cssdropdown, #cssdropdown * { padding: 0; margin: 0; }

/* Head links */
/*#cssdropdown li.headlink { width: 220px; float: left; margin-left: -1px; border: 1px black solid; background-color: #e9e9e9; text-align: center; }*/
#cssdropdown li.headlink a { display: block; padding: 15px; }

/* Child lists and links */
#cssdropdown li.headlink ul { display: none; text-align: left; }
#cssdropdown li.headlink:hover ul { display: block; }
#cssdropdown li.headlink ul li a { padding: 15px 15px 30px 15px; height: 17px;border: 1px solid;}
#cssdropdown li.headlink ul li a:hover { background-color: #C4890A; }

/* Pretty styling */
#cssdropdown a { color: white; } #cssdropdown ul li a:hover { text-decoration: none; }
/*#cssdropdown li.headlink { background-color: red; background-image: url(bg.gif); }*/
#cssdropdown li.headlink ul {background-position: bottom; padding-bottom: 0px; }

@font-face{
    font-family: "digital-7";
    src: url("../fonts/digital-7.ttf");
}

#clockbox{
    text-align: center;
    padding: 12px 70px;
    font-size: 35px;
    font-weight: 700;
    font-family: digital-7;
    opacity: 0.99;
    width: 284px;
    height: 115px;
    color: white;
    background: url(../resources/images/1-06.png) no-repeat center;
}

